/* Default Styles for Cambium */

@import url(../fonts/source-sans-3VF.css);

:root {
  --default-font: "Source Sans 3 VF", sans-serif;
  --default-bg-color: #f9f9f9;
  --default-font-color: #222222;
  --default-font-size: 14pt;
  --default-accent-color: #cc0000;
  --default-hover-color: #660000;
  --default-header-color: #444444;
}

/* Utility Styling */

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Base Elements */

html {
  font-family: var(--default-font);
  background-color: var(--default-bg-color);
  color: var(--default-font-color);
  font-size: var(--default-font-size);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  font-weight: 300;
  color: var(--default-accent-color);
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h2 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-weight: 800;

  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-weight: 800;

  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0rem;
  margin-bottom: 0.75rem;
}

a {
  color: var(--default-accent-color);
  transition: all 0.25s;
  &:hover {
    color: var(--default-hover-color);
  }
}

ul {
  list-style-type: square;
  margin-top: 0rem;
  margin-bottom: 0.75rem;
  padding-left: 1.75rem;
  li {
    padding-bottom: 0.25rem;
  }
}

img {
  max-width: 100%;
}

/* Containers */

.container {
  max-width: min(1200px, 100vw) !important;
  padding: 1.5rem 2rem 1.5rem;
  width: 100%;
  margin: auto;
}

.cambium-img-holder {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.cambium-table-holder {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 95%;
}

/* Header and Footer */

header {
  background-color: var(--default-header-color);
  margin-bottom: 0.25rem;
}

div.header-bar {
  /* Used in both header and div.menu-panel */
  font-weight: 700;
  color: var(--default-bg-color);
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: var(--default-bg-color);
    margin-top: auto;
    margin-bottom: auto;
  }
  > div {
    display: flex;
  }

  div.header-left {
    flex: 0 1 15%;
    justify-content: start;

    .site-title {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  div.header-centre {
    flex: 1 0 auto;
    justify-content: center;
    text-align: center;
  }

  div.header-right {
    flex: 0 1 15%;
    justify-content: end;
  }
}

footer {
  background-color: #eeeeee;
  color: #222222;
  border-top: #888888 solid 1px;

  div.footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Menu Styling */
button.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  border: none;

  &:hover svg.menu-icon {
    fill: var(--default-accent-color);
  }

  svg.menu-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--default-bg-color);
    transition: fill 0.25s;

    &.menu-icon-inactive {
      opacity: 0;
    }
  }
}

div.menu-panel {
  max-height: 50vh;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  background-color: var(--default-header-color);
  color: var(--default-bg-color);

  transition: all 0.25s;

  button.menu-button {
    color: var--default-bg-color;
  }
  a {
    color: var(--default-bg-color);
  }

  nav {
    min-height: 15vh;
    padding-top: 0;
    padding-bottom: 0;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;

      li {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }

        a {
          text-decoration: none;
          font-size: 1rem;
          color: var(--default-bg-color);
          transform: all 0.25s;
          &:hover {
            color: var(--default-accent-color);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* Table Styling */

table {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  th {
    padding: 0.5rem;
    max-width: 20rem;
    vertical-align: bottom;
    border-bottom: 1px solid #bbb;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.1;
    color: var(--default-hover-color);
    position: sticky;
    top: 0;
    background-color: var(--default-bg-color);

    &.ascending::after {
      content: " \25BE";
    }
    &.descending::after {
      content: " \25B4";
    }
  }

  td {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.05;
    padding: 0.5rem;
    max-width: 20rem;
    vertical-align: top;

    & > div.cambium-img-holder {
      min-width: 15rem;
      margin: 0;
    }
  }

  tr:last-of-type td {
    border-bottom: 1px solid #bbb;
  }

  tr:nth-child(even) {
    background-color: #e9e9e9;
  }
}

/* Mobile Styling */

@media (max-width: 600px) {
  :root {
    --default-font-size: 14pt;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  ul {
    padding-left: 1.25rem;
  }

  table {
    display: block;
    overflow-x: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  div.menu-panel {
    width: 100vw;
    height: 100vh;
    max-height: unset;

    nav {
      ul {
        flex-direction: column;

        li {
          text-align: center;
          border-bottom: solid 1pt var(--dark-grey);
          padding-left: 1.5rem;
          padding-right: 1.5rem;

          &:first-child {
            padding-left: 0.75rem;
          }
          &:last-child {
            padding-right: 0.75rem;
            border-bottom: none;
          }
        }
      }
    }
  }
}
