/* Default Styles for Cambium */

@import url(../fonts/source-sans-3VF.css);

:root {
  --default-font: "Source Sans 3 VF", sans-serif;
  --default-bg-color: #f9f9f9;
  --default-font-color: #222222;
  --default-font-size: 14pt;
}

/* Base Elements */

html {
  font-family: var(--default-font);
  background-color: var(--default-bg-color);
  color: var(--default-font-color);
  font-size: var(--default-font-size);
}

body {
  padding: 1.5em 2em 1.5em;
  margin: 0;
  line-height: 1.4;
}

h1 {
  font-weight: 300;
  color: #cc0000;
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h2 {
  font-weight: 300;
  font-size: 1.6rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

a {
  color: #cc0000;
}

a:hover {
  color: #660000;
}

ul {
  list-style-type: square;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

ul li {
  padding-bottom: 0.25rem;
}

img {
  max-width: 100%;
}

/* Containers */

div.container {
  max-width: 1200px !important;
  width: 100%;
  margin: auto;
}

/* Mobile Styling */

@media (max-width: 600px) {
  :root {
    --default-font-size: 14pt;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

}
