@import url(base-variables.css);

pre:has(> code) {
  background-color: var(--cw-alternate-background-colour);
  scrollbar-color: var(--cw-border-colour) var(--cw-secondary-font-colour);
  padding: 0.5rem 0.2rem;
  overflow-x: auto;
}

code {
  font-family: var(--cambium-monospace-font-family);
}
