@import url(base-variables.css);

pre:has(> code) {
  background-color: var(--cw-alternate-background-colour);
  scrollbar-color: var(--cw-border-colour) var(--cw-secondary-font-colour);
  padding: 1rem 1rem 0.2rem;
  overflow-x: scroll;
}
