@import url(base-variables.css);

code {
  font-family: var(--cambium-monospace-font-family);
  text-transform: none;
  font-style: normal;
}

/* Code blocks */
pre:has(> code) {
  background-color: var(--cw-alternate-background-colour);
  scrollbar-color: var(--cw-border-colour) var(--cw-secondary-font-colour);
  padding: 0.5rem 0.2rem;
  overflow-x: auto;
}

/* Inline code */
p,
li {
  code {
    background-color: var(--cw-alternate-background-colour);
    padding-left: 5px;
    padding-right: 5px;
  }
}
