:root {
  /* Fonts */
  --cambium-font-size: 16pt;
  --cambium-tablet-font-size: calc(var(--cambium-font-size) - 2pt);
  --cambium-mobile-font-size: calc(var(--cambium-font-size) - 4pt);
  --cambium-font-family: sans-serif;
  --cambium-font-weight: 400;

  /* Colours */
  --cambium-primary-colour-light: #587054;
  --cambium-primary-colour-dark: oklch(
    from var(--cambium-light-primary-colour) 75% calc(c * 0.8) h
  );

  --cambium-secondary-colour-light: #e8cf9e;
  --cambium-secondary-colour-dark: #e8cf9e;

  --cambium-background-colour-light: white;
  --cambium-background-colour-dark: #222222;

  --cambium-alternate-background-colour-light: white;
  --cambium-alternate-background-colour-dark: #222222;

  --cambium-font-colour-light: black;
  --cambium-font-colour-dark: #f9f9f9;

  --cambium-secondary-font-colour-light: #595959;
  --cambium-secondary-font-colour-dark: #a9a9a9;

  --cambium-border-colour-light: #999;
  --cambium-border-colour-dark: #999;

  --cambium-warning-colour-light: #999;
  --cambium-warning-colour-dark: #999;

  --cambium-caution-colour-light: #999;
  --cambium-caution-colour-dark: #999;

  /* Move these to Maple  */
  --cambium-toggle-colour-light: #999;
  --cambium-toggle-colour-dark: #a9a9a9;

  /* Breakpoints */
  --cambium-tablet-breakpoint: 1000px;
  --cambium-mobile-breakpoint: 600px;
}
