{# Cambium Theme: Maple #}

<footer>
  <div class="footer-container">
    <div class="footer-left">
      <button id="back-to-top-button">Back to top {% include "icon-up-arrows.html.jinja" %}</button>
    </div>

    <div class="footer-centre">{% include "copyright-text.html.jinja" %}</div>

    <div class="footer-right">
      <a href="https://github.com/sidratresearch/cambium" target="_blank">
        {% include "icon-built-with-cambium.html.jinja" %}
      </a>
    </div>
  </div>
</footer>
