{# Cambium Theme: Maple #}

<footer>
  <div class="footer-container">
    <div class="footer-left">
      <button id="back-to-top-button">Back to top {% include "icon-up-arrows.html.jinja" %}</button>
    </div>

    <div class="footer-centre">{% include "copyright-text.html.jinja" %}</div>

    <div class="footer-right">
      <a href="https://github.com/sidratresearch/cambium" target="_blank">
        <img
          width="300"
          height="138"
          alt="Built with Cambium"
          src="{{ relative_path_modifier }}static/images/Built%20With%20Cambium%20-%20Green%20on%20Transparent.svg"
          role="img"
      /></a>
    </div>
  </div>
</footer>
