{# Cambium Theme: Maple #}

{% set menu_button_action = "open" %}

<header>
  <div class="header-bar">
    {% include "header-left.html.jinja" %}
    {% include "header-centre.html.jinja" %}
    {% include "header-right.html.jinja" %}
  </div>
  {% include "menu-panel.html.jinja" %}
</header>
