{# Cambium Theme: Root #}

<div class="header-centre">
  {% if metadata.stage_metadata.PagefindSearch is defined %}
    {% include "pagefindsearch-search-component.html.jinja" %}
  {% endif %}
</div>
