{# Cambium Theme: Maple #}

<div class="header-centre">
  {% if homepage_filename is not none %}
    <a href="{{ relative_path_modifier }}index.html" class="header-link site-title">
      {{ site_name }}
    </a>
  {% endif %}
</div>
