{# Cambium Theme: Maple #}

<div class="menu-panel" id="menu-panel">
  <div class="menu-header">
    <button
      aria-label="Close site menu"
      id="menu-close-button"
      class="menu-button menu-close-button"
    >
      <span></span>
    </button>
    <div class="toggle">
      <input
        type="checkbox"
        id="light-dark-toggle"
        class="toggle-input"
        aria-label="Toggle light/dark mode"
      />
      <label for="light-dark-toggle" class="toggle-label">
        {% include "icon-light-mode.html.jinja" %}
        {% include "icon-dark-mode.html.jinja" %}
      </label>
    </div>
  </div>
  <div class="site-title">{{ site_name }}</div>
  <nav class="menu-items">
    {% if menu is defined %}
      {{ menu }}
    {% else %}
      <ul>
        {% if homepage_filename is not none %}
          <li><a href="{{ relative_path_modifier }}index.html">Home</a></li>
        {% endif %}
        {% for item in auto_menu_contents %}
          <li>
            <a href="{{ relative_path_modifier }}{{ item['filename'] }}">{{ item['name'] }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  <div class="menu-footer">
    <div class="menu-copyright">{% include "copyright-text.html.jinja" %}</div>
  </div>
</div>
