{# Cambium Theme: Maple #}

<div class="menu-panel" id="menu-panel">
  <div class="menu-header">
    <button
      aria-label="Close site menu"
      id="menu-close-button"
      class="menu-button menu-close-button"
    >
      <span></span>
    </button>
  </div>
  <nav class="menu-items">
    {% if menu is defined %}
      {{ menu }}
    {% else %}
      <ul>
        {% if homepage_filename is not none %}
          <li><a href="{{ relative_path_modifier }}index.html">Home</a></li>
        {% endif %}
        {% for item in auto_menu_contents %}
          <li>
            <a href="{{ relative_path_modifier }}{{ item['filename'] }}">{{ item['name'] }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  <div class="menu-footer">
    <button id="theme-button" aria-label="Toggle light/dark theme">
      <span data-light class="light-mode-icon"> {% include "icon-light-mode.html.jinja" %} </span>
      <span data-dark class="dark-mode-icon">{% include "icon-dark-mode.html.jinja" %}</span>
    </button>
    <div class="menu-copyright">{% include "copyright-text.html.jinja" %}</div>
  </div>
</div>
