{# Cambium Theme: Root #}

<div class="menu-panel hidden" id="menu-panel">
  <div class="menu-top-bar header-bar">
    {# Re-create the header #}
    {% include "header-left.html.jinja" %}
    {% include "header-centre.html.jinja" %}
    {% include "header-right.html.jinja" %}
  </div>
  <nav class="menu-items">{{ menu }}</nav>
  <div class="toggle-container">
    <div class="toggle">
      <input type="checkbox" id="mode-toggle" class="toggle-input">
      <label for="mode-toggle" class="toggle-label"></label>
    </div>
    <span data-dark>Dark</span>
    <span data-light>Light</span>
  </div>
</div>
