{# Cambium Theme: Maple #}

{% if metadata.stage_metadata.PagefindSearch.show_searchbar_on_page %}
  {# Customize the look of the button that opens the modal #}
  <pagefind-modal-trigger hide-shortcut="true" compact="true"></pagefind-modal-trigger>
  <pagefind-modal></pagefind-modal>
{% endif %}
