{# Cambium Theme: Root #}

<footer>
  <div class="container">
    {% include "footer-left.html.jinja" %}
    {% include "footer-centre.html.jinja" %}
    {% include "footer-right.html.jinja" %}
  </div>
</footer>
