{# Cambium Theme: Root #}

<div class="footer-right">
  <a href="https://github.com/sidratresearch/cambium" target="_blank">
    <img
      height="138"
      alt="Built with Cambium"
      id="built-with-cambium"
      src="{{ relative_path_modifier }}static/images/Built%20With%20Cambium%20-%20Green%20on%20Transparent.svg"
  /></a>
</div>
