{# Cambium Theme: Root #}

<!-- Overwrite this template with `.cambium/theme/templates/head.html.jinja` to inject content into the <head> tag -->

<!-- e.g., to set the favicon to the file `static/assets/favicon.png`: -->
<!-- <link rel="icon" type="image/png" href="{{ relative_path_modifier }}/static/assets/favicon.png" /> -->
