{# Cambium Theme: Root #}

{% set has_menu_content = menu is defined and menu|length>0 %}
{#  define whether or not there is content in the menu panel
      assumes that all menu content comes from {{menu}}, which comes from
      .cambium/jinja_variables/menu.md #}
{% set menu_button_action = "open" %}

<header>
  <div class="header-bar">
    {% include "header-left.html.jinja" %}
    {% include "header-centre.html.jinja" %}
    {% include "header-right.html.jinja" %}
  </div>
</header>
{% if has_menu_content %}
  {% set menu_button_action = "close" %}
  {% include 'menu-panel.html.jinja' %}
{% endif %}
