{# Cambium Theme: Root #}

<div class="header-centre">
  {% if metadata.stage_metadata.PagefindSearch is defined %}
    {% include metadata.stage_metadata.PagefindSearch.searchbar_component %}
  {% endif %}
</div>
