{# Cambium Theme: Root #}

{% set menu_button_action = "open" %}

<header>
  <div class="header-bar">
    {% include "header-left.html.jinja" %}
    {% include "header-centre.html.jinja" %}
    {% include "header-right.html.jinja" %}
  </div>
</header>
{% set menu_button_action = "close" %}
{% include 'menu-panel.html.jinja' %}
