{# Cambium Theme: Root #}

<div class="menu-panel hidden" id="menu-panel">
  <div class="menu-top-bar header-bar">
    {# Re-create the header #}
    {% include "header-left.html.jinja" %}
    {% include "header-centre.html.jinja" %}
  </div>
  <nav class="menu-items">{{ menu }}</nav>
</div>
