/* Default Styles for Cambium */

@import url(../fonts/source-sans-3VF.css);
@import url(table.css);
@import url(image.css);

:root {
  --cambium-font-family: "Source Sans 3 VF", sans-serif;
  --cambium-font-size: 16pt;
  --cambium-tablet-font-size: calc(var(--cambium-font-size) - 2pt);
  --cambium-mobile-font-size: calc(var(--cambium-font-size) - 4pt);
  --cambium-font-weight: 400;
  --cambium-light-primary-colour: indianred;
  --cambium-dark-primary-colour: oklch(
    from var(--cambium-light-primary-colour) 75% calc(c * 0.8) h
  );
  --cambium-light-background: white;
  --cambium-dark-background: #222222;
  --cambium-light-font: black;
  --cambium-dark-font: #f9f9f9;
  --cambium-light-footer: #666666;
  --cambium-dark-footer: #adadad;
  --cambium-light-toggle: #999;
  --cambium-dark-toggle: #adadad;
  --cambium-border: #999;

  --cambium-tablet-breakpoint: 1000px;
  --cambium-mobile-breakpoint: 600px;
}
