table.cambium-preview-csv {
  min-width: 100%;
  caption div {
    display: flex;
    justify-content: space-between;
    a {
      display: inline-flex;
      svg {
        width: 1rem;
      }
    }
  }
}
