{% set title %}
  {# set the tab title based on whether or not the specific page has a title #}
  {% if metadata.title %}
    {{ metadata.title }}
    - {{ site_name }}
  {% else %}
    {{ site_name }}
  {% endif %}
{% endset %}

<!DOCTYPE html>
<html lang="en" id="{{ metadata.page_id }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Cambium v{{ cambium_version }}" />
    <title>{{ title }}</title>

    <!-- Grabbable with JS -->
    <meta name="cambium-data" value="" data-initial-path="{{ initial_path }}" />

    {% include 'head.html.jinja' %}

    {% if metadata.stage_metadata.PagefindSearch is defined %}
      {% include metadata.stage_metadata.PagefindSearch.head_links %}
    {% endif %}
  </head>
  <link rel="stylesheet" href="{{ relative_path_modifier }}static/css/base.css" />
  <link rel="stylesheet" href="{{ relative_path_modifier }}static/css/custom.css" />

  <body>
    {% include 'header.html.jinja' %}

    <div class="container main">
      {% if table_of_contents is defined %}
        <nav>{{ table_of_contents }}</nav>
      {% endif %}

      <main>{{ main_content }}</main>
    </div>

    {% include 'footer.html.jinja' %}
  </body>
  <script src="{{ relative_path_modifier }}static/js/base.js" type="module"></script>
</html>
