<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page_title }}</title>
</head>
<link rel="stylesheet" href="{{ relative_path_modifier }}static/css/base.css" />


<body>
  <div class="container">

    {{ main_content }}

  </div>

</body>

</html>