<footer>
    <div class="container footer-bar">

        <div class="footer-left">{{ footer_left }}</div>
        <div class="footer-centre">{{ footer_centre }}</div>
        <div class="footer-right">{{ footer_right }}</div>


    </div>
</footer>
