{# Cambium Theme: Default #}

<footer>
  <div class="container footer-bar">
    <div class="footer-left">{{ site_name }} {{ build_time_utc.year }}</div>
    <div class="footer-centre"></div>
    <div class="footer-right"></div>
  </div>
</footer>
