<header>
    <div class="container header-bar">
        <div class="header-left">{{ header_left }}</div>
        <div class="header-centre">{{ header_centre }}</div>
        <div class="header-right">{{ header_right }}</div>
    </div>
</header>
