{# Set helper variables #}
{% set header_row, data_rows, truncated = csv_data[0], csv_data[1:], false %}

{% if max_preview_rows != none and data_rows|length > max_preview_rows %}
  {% set data_rows = data_rows[:max_preview_rows] %}
  {% set truncated = true %}
{% endif %}

{# Generate the <table> #}
{% set csv_table %}
  <table class="cambium-preview-csv">
    <caption>
      <div>
        <a href="./{{ download_filename }}" download="{{ download_filename }}">
          {% include "icon-download.html.jinja" %}
          {{ download_filename }}
          ({{ csv_filesize|filesizeformat }})</a
        >
        Rows: {{ csv_data|length }}, Columns: {{ header_row|length }}
      </div>
    </caption>
    <thead>
      <tr>
        {% for cell in header_row %}
          <th>{{ cell }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for data_row in data_rows %}
        <tr>
          {% for cell in data_row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      {% if truncated %}
        <tr>
          {% for cell in header_row %}
            <td>...</td>
          {% endfor %}
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endset %}

{# Actual content that gets rendered #}

<link rel="stylesheet" href="{{ relative_path_modifier }}{{ css_link }}" />
<h1>{{ download_filename }}</h1>
{# cambium_wrap adds the div.cambium-table-holder #}
{{ cambium_wrap(csv_table, "table") }}
