/*------------------------------------------------------------------*/
/* Styles provided by the PagefindSearch Cambium Stage
 *
 * This file will get built to static/_cambium/PagefindSearch/cambium-pagefind.css
 * This should not be confused with the stylesheets provided by the Pagefind binary itself, which are built to static/_cambium/PagefindSearch/pagefind-*.css
/*------------------------------------------------------------------*/

@import url("pagefind-component-ui.css");

:root {
  --pf-font: var(--default-font);
}

/* Overriding Pagefind Styles */

pagefind-modal-trigger {
  display: inline-flex;
  align-items: center;
}
