@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/Oswald-VariableFont_wght.ttf") format("woff2");
}

:root {
  --cambium-background-colour-dark: #353d34;
  --cambium-primary-colour-light: #587054;
  --cambium-primary-colour-dark: #e8cf9e;
  --cambium-alternate-background-colour-light: #fff2d9;
  --cambium-alternate-background-colour-dark: #273325;
}
#cambium-page-index {
  .main-content {
    padding-top: 0;
  }

  h1#cambium-documentation {
    display: none;
  }
  img.main-logo {
    content: url(/assets/cambiummainlogohorizontal-light.svg);
  }
}

html[data-theme="dark"]#cambium-page-index {
  img.main-logo {
    content: url(/assets/cambiummainlogohorizontal-dark.svg);
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: "Oswald";

  font-weight: 400;
  color: var(--cw-primary-colour);
  padding-top: 1.5em;
}

.menu-panel .menu-items ul li {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Oswald";
}

.site-title {
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase;
}
