:root {
  --cambium-background-colour-dark: #353d34;
  --cambium-primary-colour-light: #587054;
  --cambium-primary-colour-dark: #e8cf9e;
  --cambium-alternate-background-colour-light: #fff2d9;
  --cambium-alternate-background-colour-dark: #273325;
}
#cambium-page-index {
  .main-content {
    padding-top: 0;
  }

  h1#cambium-documentation {
    display: none;
  }
  img.main-logo {
    content: url(/assets/cambiummainlogohorizontal-light.svg);
  }
}

html[data-theme="dark"]#cambium-page-index {
  img.main-logo {
    content: url(/assets/cambiummainlogohorizontal-dark.svg);
  }
}
