{# Cambium Theme: Core #}


{% set title %}
  {# set the tab title based on whether or not the specific page has a title #}
  {% if metadata.title %}
    {{ metadata.title|trim ~ " - " ~ site_name |trim }}
  {% else %}
    {{ site_name|trim }}
  {% endif %}
{% endset %}

{# Set default colour mode for the theme overall, for Core this is light mode #}
{% set default_colour_mode = "light" %}
{# Override that colour mode if requested by the site creator #}
{% if theme_config.default_colour_mode != None %}
  {% set default_colour_mode = theme_config.default_colour_mode %}
{% endif %}

<!DOCTYPE html>
<html lang="en" id="cambium-page-{{ metadata.page_id }}" data-theme="{{ default_colour_mode }}">
  {% include "head.html.jinja" %}

  <body>
    <div class="main-content container">
      {# If `table_of_contents` is not a valid key for `metadata`, Jinja
      returns an undefined obj (first test); which is different from the
      value being assigned the Python constant None (written none) #}
      {% if metadata.table_of_contents is defined and metadata.table_of_contents != none and metadata.table_of_contents|length > 0 %}
        <nav>{{ metadata.table_of_contents }}</nav>
      {% endif %}

      <main>{{ main_content }}</main>
    </div>

    {% include "js-imports.html.jinja" %}
  </body>
</html>
