{% if metadata.stage_metadata.PagefindSearch.show_searchbar_on_page %}

  {# The pagefind.js file is in the same directory as the actually imported pagefind-ui.js, not in /pagefind or similar #}
  <pagefind-config bundle-path="./"></pagefind-config>
{% endif %}
