body,
body[data-pf-theme="dark"] {
  --pf-border: var(--cw-background-colour);
  --pf-text-muted: var(--cw-font-colour);
  --pf-border-focus: var(--cw-background-colour);
  --pf-outline-focus: var(--cw-primary-colour);
  --pf-background: var(--cw-background-colour);
  --pf-border-radius: 0px;
}

/* Make the icon larger in header */
:is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-icon {
  height: 28px;
  width: 28px;
}

/* Border radius of the entire search results modal */
:is(*, #\#):is(*, #\#):is(*, #\#) dialog.pf-modal {
  border-radius: var(--pf-border-radius);
}
