:root {
  --cambium-font-family: "Source Sans 3 VF", sans-serif;

  /* Colours */
  --cambium-primary-colour-light: indianred;
  --cambium-primary-colour-dark: oklch(
    from var(--cambium-primary-colour-light) 75% calc(c * 0.8) h
  );
  --cambium-secondary-colour-light: oklch(
    from var(--cambium-primary-colour-light) 45% calc(c * 1.1) h
  );
  --cambium-secondary-colour-dark: oklch(
    from var(--cambium-primary-colour-dark) 85% calc(c * 0.8) h
  );

  --cambium-toggle-colour-light: #999;
  --cambium-toggle-colour-dark: #a9a9a9;
}
