.header {
  position: static;
}

.header-bar {
  left: 0;
  top: 0;
  right: 0;
  height: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 2em;
  padding-left: 2em;
  border-top: 7px var(--cw-primary-colour) solid;
  border-bottom: 1px var(--cw-border-colour) solid;
  background-color: var(--cw-background-colour);
  position: relative;
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  font-size: 1.25rem;
  font-weight: 700;

  .header-left,
  .header-right,
  .header-centre {
    margin-top: auto;
    margin-bottom: auto;
  }

  .header-centre {
    text-align: center;
  }

  .header-right {
    text-align: right;
  }
}

/* Menu Open Button Styling */
.menu-open-button {
  position: relative;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  text-align: left;
  padding: 0;
  background-color: unset;

  span,
  span::before,
  span::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 2.5px;
    background: var(--cw-font-colour);
    border-radius: 20px;
  }

  span::before {
    top: -8px;
  }

  span::after {
    top: 8px;
  }
}

/* Footer */
footer {
  padding: 1rem 2em;
  margin-top: 5rem;
  border-top: 1px var(--cw-border-colour) solid;
  color: var(--cw-footer-colour);
  font-size: 1.25rem;
  border-bottom: 7px var(--cw-primary-colour) solid;

  .footer-container {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
  }

  img {
    height: 3rem;
  }

  svg {
    height: 1rem;
    fill: var(--cw-footer-colour);
    padding-left: 0.1rem;
  }

  .back-to-top-button {
    background-color: unset;
    border-width: 0;
    font-family: var(--cambium-font-family);
    color: var(--cw-footer-colour);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    min-width: 7rem;
    white-space: nowrap;

    &:hover {
      color: var(--cw-primary-colour);
      svg {
        fill: var(--cw-primary-colour);
      }
    }
  }

  .site-copyright-footer {
    text-align: center;
  }
}

@media (max-width: var(--cambium-tablet-breakpoint)) {
  .header-centre {
    visibility: hidden;
    overflow: hidden;
  }

  footer {
    .footer-container {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
  }
}
